body{
	background-color: #232323;
}

#logo{
	display: flex;
	justify-content: center;
}

#hd {
	font-family: 'Roboto', sans-serif;
	color: white;
	display: flex;
	justify-content: center;
	margin: 1em;
	padding: 0;
	font-size: 32px;
}

#mem{
	margin-top: 5%;
}

hr{
	width: 50%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));

}

#btn{
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	margin-bottom: 5vh;

}

.pic{
	background-image: url('/images/fishing.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 500px;
	border-radius: 10px;
}

.btn-primary{
	background-color: rgba(0, 0, 0 , 0);
	outline: none;
	border: none;
	font-size: 2em;
}

.btn-primary:hover{
	background-color: rgba(0, 0, 0 , 0);
	outline: none;
	border: none;
	font-size: 2em;
	color: #01c481;
}

